footer {
    background-color:var(--color-dark);
    text-align: center;
    padding: 20px 0;
}

footer * {
    font-family: var(--font-family-primary);
}

footer li {
    color: var(--color-light);
    padding: 8px;
    font-size: 0.9rem;
}

footer li:first-child {
    margin-top: 0;
}

footer a {
    text-decoration: none;
    color: var(--color-light);
}

footer iframe {
    width: 450px;
    height: 300px;
    display: none;
}

footer .mention {
    display: inline-flex;
    font-size: 0.5rem;
}

footer .mention li{
    margin-top: 12px;
    padding-right: 10px;
}


@media screen and (min-width: 480px) {
    footer .map {
        display: flex;
        justify-content: center;
        height: 300px;
    }

    footer iframe {
        display: block;
        border-radius: 10px;
    }
}
