header {
    background: rgb(147, 131, 218);
    height: 60px;
}



/* ----------------------
    TRIGGER BUTTON
---------------------- */
header nav .nav-trigger {
    position: relative;
    background-color: transparent;
    border: none;
    margin: 10px 0 0 10px;
    transition: all 0.3s ease-in-out;
}

header nav .nav-trigger:hover {
    cursor: pointer;
}

header nav .nav-trigger.open {
    transform: rotate(45deg);
}

header nav .nav-trigger > .icon {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 2px;
    margin: 8px auto;
    transition: all .3s ease-in-out;
}

header nav .nav-trigger:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    top: calc(50% - 23px);
    left: calc(50% - 19px);
    border-radius: 100%;
    transition: all .3s ease-in-out;
}

header nav .nav-trigger.open:before{
    border: 2px solid #ecf0f1;
}

header nav .nav-trigger.open .icon{
    width: 20px;
}

header nav .nav-trigger.open .icon:nth-child(2){
    opacity: 0;
}

header nav .nav-trigger.open .icon:nth-child(1){
    transform: translateY(8px);
}

header nav .nav-trigger.open .icon:nth-child(3){
    transform: translateY(-13px) rotate(90deg);
}

