nav {
    position: relative;
    background: var(--color-light);
    width: 100%;
    text-align: center;
}



/* ----------------------
    LOGO
---------------------- */
nav .logo {
    margin: 0 auto;
    padding: 10px 0;
    display: block;
}

nav .logo img {
    width: 50%;
    max-width: 110px;
}



/* ----------------------
    TRIGGER BUTTON
---------------------- */
nav .btn-trigger {
    position: absolute;
    top: calc(88.61px / 2);
    left: 20px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    transition: all .3s ease-in-out;
    padding: 0;
}

nav .btn-trigger:hover {
    cursor: pointer;
}

nav .btn-trigger.is-open {
    transform: translateY(-50%) rotate(45deg);
}

nav .btn-trigger > .icon {
    display: block;
    background-color: var(--color-trigger-icon);
    width: 30px;
    height: 2px;
    margin: 8px auto;
    transition: all .3s ease-in-out;
}

nav .btn-trigger:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 1px solid transparent;
    top: calc(50% - 23px);
    left: calc(50% - 19px);
    border-radius: 100%;
    transition: all .3s ease-in-out;
}

nav .btn-trigger.is-open:before{
    border: 2px solid var(--color-trigger-icon);
}

nav .btn-trigger.is-open .icon{
    width: 20px;
}

nav .btn-trigger.is-open .icon:nth-child(2){
    opacity: 0;
}

nav .btn-trigger.is-open .icon:nth-child(1){
    transform: translate(1px, 8px);
}

nav .btn-trigger.is-open .icon:nth-child(3){
    transform: translate(1px, -13px) rotate(90deg);
}

@media screen and (min-width: 768px) {
    nav .btn-trigger {
        display: none;
    }
}



/* ----------------------
    NAV HELP
---------------------- */
nav .nav-contact {
    display: none;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav .nav-contact .nav-help {
    color: var(--color-dark);
    font-size: 1.25rem;
    font-weight: 600;
}

nav .nav-contact .nav-phone {
    color: var(--color-dark);
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1;
}

@media screen and (min-width: 576px) {
    nav .nav-contact {
        display: inline-block;
    }
}



/* ----------------------
    NAVBAR
---------------------- */
nav .navbar-collapse {
    display: none;
    background: var(--color-dark);
}

nav .navbar-collapse.show {
    display: block;
}

nav .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link {
    position: relative;
    font-size: var(--font-size-nav-link);
    color: var(--color-light);
    text-transform: capitalize;
    display: block;
    padding: 20px;
    text-align: left;
    font-family: var(--font-family-primary);
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    background: var(--color-light);
    color: var(--color-dark);
}

nav .navbar-collapse .navbar-nav .nav-item .nav-link i {
    position: absolute;
    right: 20px;
}

@media screen and (max-width: 768px) {
    nav .navbar-collapse .navbar-nav .nav-item {
        border-top: 2px solid var(--color-border-nav-link);
    }

    nav .navbar-collapse .navbar-nav .nav-item:last-child {
        border-bottom: 2px solid var(--color-border-nav-link);
    }
}

@media screen and (min-width: 768px) {
    nav .navbar-collapse {
        display: flex !important;
        justify-content: center;
    }

    nav .navbar-collapse .navbar-nav {
        padding: 10px 0;
        padding-top: 25px;
        flex-direction: row;
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        color: var(--color-light);
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link {
        margin: 0 10px 10px;
        padding: 0 10px 10px;
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
        background: transparent;
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link:before {
        content: "";
        position: absolute;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: var(--color-light);
        height: 2px;
        transition: left .3s ease-out,right .3s ease-out;
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link:hover:before {
        left: 0;
        right: 0;
    }

    nav .navbar-collapse .navbar-nav .nav-item .nav-link i {
        display: none;
    }
}