:root {
    --color-dark: #00171F;
    --color-light:  #DEEDF3;
    --color-primary:#A3D9EC;

    --color-navbar: var(--color-light);
    --color-trigger-icon: var(--color-dark);
    --color-border-nav-link: rgba(78, 78, 78, .1);

    --font-size-nav-link: 1.15rem;

    --font-family-primary: 'Raleway', sans-serif;
    --font-family-secondary: 'Trocchi', serif;
}